body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

/*VISTA MOBILE*/
#body__grid {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

/*HEADER*/
#header__contenedor-completo {
  grid-area: header;
  background-image: url(../img/header3.jpg);
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
#header__contenedor-completo .header__contenedor {
  display: grid;
  grid-template-areas: "logo enlaces" "logo  redes";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  background-color: rgba(128, 128, 128, 0.363);
  height: 120px;
  width: 100%;
}

/*logo*/
.header__logo {
  grid-area: logo;
  display: flex;
}
.header__logo .logo-a {
  height: 100px;
  padding: 10px;
  border-radius: 50%;
}

/*redes*/
.header__redes {
  grid-area: redes;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  margin-bottom: 15px;
  margin-top: 10px;
}
.header__redes .redes-a {
  height: 40px;
  padding: 5px;
}

/*enlaces*/
#mobil-no-index {
  display: none;
}

.navbar {
  grid-area: enlaces;
  margin-right: 15px;
}
.navbar .navbar-toggler {
  color: rgba(255, 255, 255, 0.288);
}
.navbar .navbar-toggler:hover {
  color: rgba(0, 0, 0, 0.489);
}

/*MAIN*/
/*texto*/
main {
  width: 100%;
  grid-area: main;
}

/*decoracion y titulo*/
.titulo-h1-p {
  flex-direction: column;
}

.container__decoracion-principal {
  display: flex;
  justify-content: center;
}
.container__decoracion-principal .decoracion-principal {
  height: 100px;
}

.container__texto-decoracion {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.container__texto-decoracion .titulo-h1 {
  text-align: center;
  font-size: 25px;
}

/*imagenes*/
.main__sec-img {
  display: flex;
  justify-content: center;
}

.main__sec-imgs {
  height: 250px;
  padding: 20px;
  transition: all 0.3s ease;
}
.main__sec-imgs:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/*MOBILE NO*/
.mobile-no {
  display: none;
}

/*decoracion*/
.decoracion-cinta-img {
  width: 100%;
  height: 100px;
  margin: 20px 0px;
  opacity: 0.8;
}

/*nota*/
.main__sec-nota {
  width: 100%;
  background: rgb(220, 159, 91);
  background: linear-gradient(0deg, rgb(220, 159, 91) 0%, rgb(241, 185, 138) 26%, rgb(229, 188, 129) 42%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.main__sec-img-marcelo {
  display: flex;
  justify-content: center;
}
.main__sec-img-marcelo .main__sec-img {
  height: 250px;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.h3-text-nota {
  text-align: center;
}
.h3-text-nota .h3-nota {
  font-size: 30px;
  margin-top: 5px;
}

.main__sec-nota-p2 {
  text-align: center;
  font-size: 15px;
}

.main__sec-nota-a-edit {
  display: flex;
  justify-content: center;
}
.main__sec-nota-a-edit .uiverse {
  text-align: center;
  position: relative;
  background: #ffffff;
  color: #000;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.uiverse:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

svg:hover span,
svg:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.uiverse:hover,
.uiverse:hover .tooltip,
.uiverse:hover .tooltip::before {
  background: linear-gradient(320deg, rgb(255, 198, 151), rgb(231, 175, 136));
  color: #ffffff;
}

.btn-masinformacion {
  text-decoration: none;
  color: #000;
}

/*botones*/
.container__sec-btn-img {
  display: flex;
  display: block;
  margin: 10px;
  padding: 10px;
}
.container__sec-btn-img .container__div-img {
  display: flex;
  justify-content: center;
}

.container-img {
  padding: 10px;
  height: 160px;
  transition: transform 0.2s;
}
.container-img:hover {
  transform: scale(1.2);
}

.container__div-btn {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.container__div-btn .container-btn {
  text-decoration: none;
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #4f4f4f;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: black;
  z-index: 1;
  font-size: 15px;
}
.container__div-btn .container-btn:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.container__div-btn .container-btn:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.container__div-btn .container-btn:hover {
  color: #ffffff;
}
.container__div-btn .container-btn:hover:before {
  top: -35%;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.container__div-btn .container-btn:hover:after {
  top: -45%;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.container__div-btn .btn-a1:after {
  background-color: rgba(214, 33, 33, 0.6078431373);
}
.container__div-btn .btn-a1:hover {
  border: 1px solid rgba(214, 33, 33, 0.6078431373);
}
.container__div-btn .btn-a1:hover:before {
  background-color: rgba(214, 33, 33, 0.6078431373);
}
.container__div-btn .btn-a1:hover:after {
  background-color: rgba(214, 33, 33, 0.6078431373);
}
.container__div-btn .btn-a2:after {
  background-color: rgba(33, 214, 199, 0.6078431373);
}
.container__div-btn .btn-a2:hover {
  border: 1px solid rgba(33, 214, 199, 0.6078431373);
}
.container__div-btn .btn-a2:hover:before {
  background-color: rgba(33, 214, 199, 0.6078431373);
}
.container__div-btn .btn-a2:hover:after {
  background-color: rgba(33, 214, 199, 0.6078431373);
}
.container__div-btn .btn-a3:after {
  background-color: rgba(214, 181, 33, 0.6078431373);
}
.container__div-btn .btn-a3:hover {
  border: 1px solid rgba(214, 181, 33, 0.6078431373);
}
.container__div-btn .btn-a3:hover:before {
  background-color: rgba(214, 181, 33, 0.6078431373);
}
.container__div-btn .btn-a3:hover:after {
  background-color: rgba(214, 181, 33, 0.6078431373);
}

/*mapa calendario*/
.container__mapa-calendario {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/*mapa*/
.container__location-btn {
  display: flex;
  justify-content: center;
}
.container__location-btn .location-btn {
  margin: 10px;
  height: 60px;
}

.container__mapa-input {
  display: flex;
  justify-content: center;
}
.container__mapa-input .mapa-input {
  text-align: center;
  width: 250px;
}

.container__mapa-iframe {
  display: flex;
  justify-content: center;
}
.container__mapa-iframe .mapa-iframe {
  height: 250px;
}

.container__mapa-a {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.container__mapa-a .mapa-a {
  text-decoration: none;
  padding: 1.1em 2em;
  background: none;
  border: 2px solid #fff;
  font-size: 15px;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  background-color: #eca548;
  font-weight: bolder;
  box-shadow: 0 2px 0 2px #000;
}
.container__mapa-a .mapa-a:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #ff6700;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
}
.container__mapa-a .mapa-a:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
}
.container__mapa-a .mapa-a:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
}
.container__mapa-a .mapa-a:active {
  transform: scale(0.9);
}

/*calendario*/
.main__container-calendario {
  margin-top: 40px;
}
.main__container-calendario .container__calendario-btn {
  display: block;
  display: flex;
  justify-content: center;
}
.main__container-calendario .container__calendario-btn .location-calendario-btn {
  height: 70px;
}

.container__calendario-h4 {
  text-decoration: underline;
  text-align: center;
}

.container__calendario-p {
  text-align: center;
}

.container__calendario-li {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

/*FOOTER*/
.footer_index {
  grid-area: footer;
  background-color: #eca548;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.footer_index .footer-index-img {
  margin: 15px;
  height: 40px;
}

/*VISTA TABLET*/
@media screen and (min-width: 768px) {
  #header__contenedor-completo {
    height: 400px;
  }
  #header__contenedor-completo .header__contenedor {
    height: 200px;
  }
  /*logo redes enlaces*/
  .header__logo {
    display: flex;
  }
  .header__logo .logo-a {
    height: 180px;
    padding: 30px;
  }
  .header__redes {
    margin-right: 40px;
  }
  .header__redes .redes-a {
    height: 60px;
  }
  /*decoracion y titulo*/
  .decoracion-principal {
    height: 150px;
  }
  .titulo-h1 {
    font-size: 35px;
  }
}
/*VISTA DESKTOP*/
@media screen and (min-width: 1024px) {
  /*HEADER*/
  #header__contenedor-completo {
    height: 500px;
    background-attachment: fixed;
    margin-bottom: 50px;
  }
  /*enlaces*/
  #desktop-no-index {
    display: none;
  }
  #mobil-no-index {
    display: block;
  }
  .container-fluid {
    margin: 10px;
  }
  #navbarNav {
    display: flex;
    justify-content: flex-end;
  }
  .nav-index {
    margin-right: 12px;
  }
  .navbar-index .nav-item-index .nav-index {
    color: #eca548;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.849);
    font-size: 23px;
    transition: all 0.3s ease;
  }
  .navbar-index .nav-item-index .nav-index:hover {
    color: #000000;
    text-shadow: 1px 1px 2px rgba(236, 165, 72, 0.3215686275);
    transform: scale(1.1);
  }
  .navbar-index .nav-item-index .nav-index:after,
  .navbar-index .nav-item-index .nav-index:before {
    content: "";
    position: absolute;
    width: 0%;
    display: block;
    height: 1px;
    transition: all 0.4s ease;
    margin-top: 2px;
    transition: all 300ms ease-in;
  }
  .navbar-index .nav-item-index .nav-index:after {
    bottom: 15%;
    left: 0;
  }
  .navbar-index .nav-item-index .nav-index:before {
    top: 15%;
    right: 0;
  }
  .navbar-index .nav-item-index .nav-index:hover::after {
    width: 100%;
    height: 1px;
    bottom: 15%;
    background-color: #eca548;
  }
  .navbar-index .nav-item-index .nav-index:hover::before {
    width: 100%;
    height: 1px;
    top: 15%;
    background-color: #eca548;
  }
  /*decoracion y titulo*/
  .decoracion-principal {
    height: 250px;
  }
  .titulo-h1 {
    font-size: 75px;
  }
  .container__decoracion-principal {
    display: flex;
    justify-content: center;
  }
  .container__decoracion-principal .decoracion-principal {
    height: 180px;
  }
  .container__texto-decoracion {
    display: flex;
    justify-content: center;
  }
  .container__texto-decoracion .titulo-h1 {
    text-align: center;
    font-size: 50px;
  }
  /*imagenes*/
  .contenedor-imagenes {
    display: flex;
    justify-content: space-around;
  }
  .main__sec-img {
    display: flex;
    flex-direction: column;
  }
  .main__sec-img .main__sec-imgs {
    height: 300px;
    padding: 25px;
  }
  .main__sec-img .main__sec-imgs:hover {
    transform: scale(1.1);
  }
  .sec-img {
    display: flex;
    flex-direction: column;
  }
  .sec-img .sec-imgs {
    height: 300px;
    padding: 25px;
    transition: all 0.3s ease;
  }
  .sec-img .sec-imgs:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transform: scale(1.2);
  }
  .sec-img-derecha {
    display: flex;
    flex-direction: column;
  }
  .sec-img-derecha .sec-imgs-derecha {
    height: 300px;
    padding: 25px;
    transition: all 0.3s ease;
  }
  .sec-img-derecha .sec-imgs-derecha:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transform: scale(1.1);
  }
  /*MOBILE SI*/
  .mobile-no {
    display: block;
  }
  /*btn*/
  .main__container-img-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
  }
  /*decoracion*/
  .decoracion-cinta-img {
    height: 180px;
    margin: 30px 0px;
  }
  /*nota*/
  .main__sec-nota-parr {
    font-size: 20px;
  }
  .main__sec-nota-p2 {
    font-size: 20px;
    padding: 20px;
  }
  /*btn*/
  .container-img {
    padding: 20px;
    height: 200px;
  }
  .container-btn {
    font-size: 20px;
  }
  /*mapa calendario*/
  .container__mapa-calendario {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
  }
  .container__calendario-btn {
    margin-top: 30px;
  }
  /*mapa*/
  .main__container-mapa {
    width: 45%;
  }
  .mapa-input {
    width: 350px;
  }
  .mapa-a {
    width: 180px;
  }
  /*calendario*/
  .main__container-calendario {
    width: 45%;
    margin-top: 10px;
  }
  .container__calendario-h4,
  .container__calendario-p,
  .container__calendario-li {
    font-size: 20px;
  }
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*VISTA MOBILE*/
#body__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

.header__contenedor-completo-nota {
  width: 100%;
  display: grid;
  grid-template-areas: "logo enlaces" "logo  redes";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  height: 120px;
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(213, 173, 172) 33%, rgb(187, 122, 121) 59%, rgb(161, 73, 71) 100%);
}
.header__contenedor-completo-nota .header__logo-nota {
  grid-area: logo;
  display: flex;
}
.header__contenedor-completo-nota .header__logo-nota .logo-a-nota {
  height: 120px;
  padding: 10px;
  border-radius: 50%;
}
.header__contenedor-completo-nota .header__redes-nota {
  grid-area: redes;
}
.header__contenedor-completo-nota .header__redes-nota .navbar {
  grid-area: enlaces;
}

/*imagenes y card*/
.container-nota-img {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.container-nota-img .container-img-fondorojo {
  height: 200px;
}

/*texto*/
.nota-h1-p {
  padding: 30px;
  text-align: center;
}
.nota-h1-p .nota-h {
  margin: 30px 10px 0px 10px;
  font-size: 30px;
  color: #a14947;
}
.nota-h1-p .nota-h .nota-p {
  margin-top: 10px;
  font-size: 40px;
}

.footer__notas {
  height: 120px;
  display: flex;
  justify-content: center;
  background: rgb(244, 103, 74);
  background: rgb(161, 73, 71);
  background: linear-gradient(0deg, rgb(161, 73, 71) 0%, rgb(187, 122, 121) 33%, rgb(213, 173, 172) 59%, rgb(255, 255, 255) 100%);
}
.footer__notas .footer__notas-img {
  margin: 20px;
  height: 40px;
}

/*VISTA TABLET*/
@media screen and (min-width: 768px) {
  .header__contenedor-completo-nota {
    height: 200px;
    width: 100%;
  }
  .ilustracion__notas {
    height: 300px;
  }
}
/*VISTA DESKTOP*/
@media screen and (min-width: 1024px) {
  /*enlaces*/
  #navbarNav {
    display: flex;
    justify-content: flex-end;
  }
  .nav-nota {
    margin-right: 12px;
  }
  .navbar-nota .nav-item-nota .nav-nota {
    color: #ffffff;
    text-shadow: 1px 2px 2px rgba(128, 53, 53, 0.849);
    font-size: 23px;
    transition: all 0.3s ease;
  }
  .navbar-nota .nav-item-nota .nav-nota:hover {
    color: #773131;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.3215686275);
    transform: scale(1.1);
  }
  .navbar-nota .nav-item-nota .nav-nota:after,
  .navbar-nota .nav-item-nota .nav-nota:before {
    content: "";
    position: absolute;
    width: 0%;
    display: block;
    height: 1px;
    transition: all 0.4s ease;
    margin-top: 2px;
    transition: all 300ms ease-in;
  }
  .navbar-nota .nav-item-nota .nav-nota:after {
    bottom: 15%;
    left: 0;
  }
  .navbar-nota .nav-item-nota .nav-nota:before {
    top: 15%;
    right: 0;
  }
  .navbar-nota .nav-item-nota .nav-nota:hover::after {
    width: 100%;
    height: 1px;
    bottom: 15%;
    background-color: #b84038;
  }
  .navbar-nota .nav-item-nota .nav-nota:hover::before {
    width: 100%;
    height: 1px;
    top: 15%;
    background-color: #b84038;
  }
  .nota-imagen {
    display: flex;
    justify-content: center;
  }
  .nota-imagen .nota-img {
    padding: 10px;
    height: 500px;
  }
  /*texto*/
  .nota-box {
    box-shadow: inset 5px 5px 10px rgba(169, 169, 170, 0.4666666667), inset -5px -5px 10px rgba(255, 255, 255, 0.4941176471);
  }
  .nota-h1-p {
    padding: 50px;
    text-align: center;
  }
  .nota-h1-p .nota-h {
    text-shadow: 1px 2px 2px rgba(54, 45, 45, 0.849);
    margin: 40px 20px 0px 20px;
    font-size: 60px;
    color: #a14947;
    padding: 10px;
  }
  .nota-p {
    font-size: 20px;
    padding: 30px;
  }
  .footer__notas-img {
    height: 60px;
  }
}
/*PAGINA 2*/
/*FOTOS PERSONALIZADAS------FP*/
/*VISTA MOBILE*/
#body__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
}

#header__contenedor-completo-fp {
  background-image: url(../img/header2.png);
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-bottom: 20px;
}
#header__contenedor-completo-fp .header__contenedor-fp {
  display: grid;
  grid-template-areas: "logo enlaces" "logo  redes";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  background-color: rgba(128, 128, 128, 0.363);
  height: 120px;
  width: 100%;
}

/*redes*/
.header__redes-fp {
  grid-area: redes;
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  margin-bottom: 15px;
}
.header__redes-fp .header__redes-a-fp {
  grid-area: redes;
  display: flex;
  justify-content: flex-end;
  height: 40px;
  padding: 5px;
}

/*enlaces*/
#mobil-no-fp {
  display: none;
}
#mobil-no-fp .nav-fp {
  grid-area: enlaces;
}

/*MAIN*/
/*iconos*/
.container__iconos-p {
  background-color: rgb(255, 217, 0);
  color: black;
  text-align: center;
  font-size: 25px;
}

.container__iconos-p:hover {
  background-color: rgb(255, 174, 0);
  color: rgb(0, 0, 0);
}

.container__iconos-img {
  padding: 30px;
}

/*bandas*/
.container__bandas-p {
  background-color: rgb(255, 217, 0);
  color: black;
  text-align: center;
  font-size: 25px;
}

.container__bandas-p:hover {
  background-color: orange;
  color: rgb(255, 255, 255);
}

.container__bandas-img {
  padding: 50px;
}

/*infantiles*/
.container__infantiles-p {
  background-color: rgb(255, 217, 0);
  color: black;
  text-align: center;
  font-size: 25px;
}

.container__infantiles-p:hover {
  background-color: orange;
  color: rgb(255, 255, 255);
}

.container__infantiles-img {
  padding: 30px;
}

/*footer*/
/*VISTA TABLET*/
@media screen and (min-width: 768px) {
  #header__contenedor-completo-fp {
    height: 400px;
  }
  #header__contenedor-completo-fp .header__contenedor-fp {
    height: 200px;
  }
  /*logo*/
  .header__logo-fp {
    height: 100px;
  }
  .header__redes-a-fp {
    height: 55px;
  }
}
/*VISTA DESKTOP*/
@media screen and (min-width: 1024px) {
  #header__contenedor-completo-fp {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 50px;
  }
  /*enlaces*/
  .nav-fp {
    margin-right: 12px;
  }
  #navbarNav-fp {
    display: flex;
    justify-content: flex-end;
  }
  .navbar-fp .nav-item-fp .nav-fp {
    color: #000000;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.849);
    font-size: 23px;
    transition: all 0.3s ease;
  }
  .navbar-fp .nav-item-fp .nav-fp:hover {
    color: #eca548;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3215686275);
    transform: scale(1.1);
  }
  .navbar-fp .nav-item-fp .nav-fp:after,
  .navbar-fp .nav-item-fp .nav-fp:before {
    content: "";
    position: absolute;
    width: 0%;
    display: block;
    height: 1px;
    transition: all 0.4s ease;
    margin-top: 2px;
    transition: all 300ms ease-in;
  }
  .navbar-fp .nav-item-fp .nav-fp:after {
    bottom: 15%;
    left: 0;
  }
  .navbar-fp .nav-item-fp .nav-fp:before {
    top: 15%;
    right: 0;
  }
  .navbar-fp .nav-item-fp .nav-fp:hover::after {
    width: 100%;
    height: 1px;
    bottom: 15%;
    background-color: #000000;
  }
  .navbar-fp .nav-item-fp .nav-fp:hover::before {
    width: 100%;
    height: 1px;
    top: 15%;
    background-color: #000000;
  }
  .d-block {
    padding: 2px 60px;
  }
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}

#body__grid {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

/*VISTA MOBILE*/
/*HEADER*/
header {
  grid-area: header;
}

.bg-pan-left {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(250, 237, 218) 30%, rgb(245, 223, 187) 57%, rgb(252, 178, 84) 100%, rgb(254, 201, 137) 100%);
}

.header__section {
  display: grid;
  grid-template-areas: "logo enlaces";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  height: 120px;
}

/*logo*/
.header__logo-vg {
  grid-area: logo;
}
.header__logo-vg .logo-a-vg {
  height: 100px;
  padding: 10px;
  border-radius: 50%;
}

/*enlaces*/
.seccion__enlaces {
  grid-area: enlaces;
  margin: 20px;
}

/*MAIN*/
.section__main {
  grid-area: main;
}

/*izquierda botones*/
.division__grids {
  margin-top: 30px;
  display: grid;
  grid-template-areas: "botones" "texto";
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.seccion__botones {
  margin-top: 20px;
  grid-area: botones;
}
.seccion__botones .btn {
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: black;
  font-weight: bold;
  background-color: rgba(196, 132, 35, 0.8549019608);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.seccion__botones .btn:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(92, 54, 0, 0.4);
  color: #c48423;
  transform: translateY(-7px);
}
.seccion__botones .btn:hover:active {
  transform: translateY(-1px);
}

/*derecha titulo*/
.titulo-redes {
  grid-area: texto;
}

.section__h1-p {
  margin-top: 10px;
  grid-area: texto;
  text-align: center;
}
.section__h1-p .section__h1 {
  text-shadow: 1px 1px 2px black;
  color: #c48423;
}

/*redes*/
.seccion__redes {
  display: flex;
  justify-content: center;
}
.seccion__redes .seccion__redes-a {
  margin: 10px;
  height: 40px;
}

/*texto imagenes*/
.img-edit {
  margin: 40px;
}

.p-text {
  text-align: center;
  padding: 5px;
  font-size: 20px;
}

.p-texts {
  padding: 5px;
  text-align: center;
  font-size: 20px;
}

/*footer*/
.section__footer {
  grid-area: footer;
}

.footer_nav-vg {
  background: rgb(255, 141, 0);
  background: linear-gradient(0deg, rgb(255, 141, 0) 0%, rgb(255, 207, 117) 48%, rgb(255, 226, 170) 73%, rgb(255, 255, 255) 100%);
  display: flex;
  justify-content: center;
  height: 120px;
}
.footer_nav-vg .enlaces-a-vg {
  height: 40px;
  margin: 8px;
  margin-top: 20px;
}

/*VISTA TABLET*/
@media screen and (min-width: 768px) {
  #header__contenedor-completo {
    height: 400px;
  }
  #header__contenedor-completo .header__contenedor {
    height: 200px;
  }
  /*logo redes enlaces*/
  .header__logo {
    display: flex;
  }
  .header__logo .logo-a {
    height: 180px;
    padding: 30px;
  }
}
/*VISTA DESKTOP*/
@media screen and (min-width: 1024px) {
  /*HEADER*/
  #header__seccion {
    display: grid;
    grid-template-areas: "logo enlaces";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    height: 220px;
  }
  /*logo*/
  .header__logo-vg {
    grid-area: logo;
  }
  .header__logo-vg .logo-a-vg {
    padding: 20px;
    height: 180px;
  }
  /*enlaces*/
  .seccion__enlaces {
    grid-area: enlaces;
  }
  /*MAIN*/
  /*izquierda botones*/
  .division__grids {
    display: grid;
    grid-template-areas: "botones texto";
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
  .division__grids .seccion__botones {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: botones;
    margin-top: 20px;
    grid-area: botones;
  }
  /*derecha titulo*/
  .titulo-redes {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: texto;
  }
  .titulo-redes .section__h1-p {
    padding: 20px;
  }
  .titulo-redes .section__h1-p .section__p {
    font-size: 20px;
  }
  /*redes*/
  .seccion__redes-a {
    height: 50px;
  }
  /*texto imagenes*/
  .p-text {
    font-size: 20px;
    margin: 0px;
  }
  .img-edit {
    margin: 80px;
  }
  .p-texts {
    font-size: 20px;
    margin: 0px;
  }
  .img-edits {
    margin: 80px;
  }
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#body__grid {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

/*VISTA MOBILE*/
/*HEADER*/
header {
  grid-area: header;
}

.contenedor__completo-educacion {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(250, 237, 218) 30%, rgb(245, 223, 187) 57%, rgb(252, 178, 84) 100%, rgb(254, 201, 137) 100%);
}

.header__seccion-ed {
  display: grid;
  grid-template-areas: "logo enlaces";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  height: 120px;
}

/*logo*/
.header__logo-ed {
  grid-area: logo;
}
.header__logo-ed .logo-a-ed {
  height: 100px;
  padding: 10px;
  border-radius: 50%;
}

/*MAIN*/
main {
  grid-area: main;
}

/*izquierda botones*/
.division__grids-ed {
  margin-top: 30px;
  display: grid;
  grid-template-areas: "botones" "texto";
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

.seccion__botones-ed {
  margin-top: 20px;
  grid-area: botones;
}
.seccion__botones-ed .btn-ed {
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: black;
  font-weight: bold;
  background-color: rgba(196, 132, 35, 0.8549019608);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
}
.seccion__botones-ed .btn-ed:hover {
  background-color: white;
  box-shadow: 0px 15px 20px rgba(92, 54, 0, 0.4);
  color: black;
  transform: translateY(-7px);
}
.seccion__botones-ed .btn-ed:hover:active {
  transform: translateY(-1px);
}

/*derecha titulo*/
.titulo-redes-ed {
  grid-area: texto;
}

.section__h1-p-ed {
  margin-top: 10px;
  grid-area: texto;
  text-align: center;
}
.section__h1-p-ed .section__h1-ed {
  text-shadow: 2px 2px 2px #c48423;
  color: #000000;
}

.section__p-ed {
  padding: 20px;
  color: #c48423;
  font-size: 20px;
}

/*textos*/
.section__p-img {
  padding: 30px;
}

.section_h3-text {
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 2px #462c04;
  background-color: rgba(190, 139, 62, 0.6156862745);
}

.p-text-ed {
  text-align: center;
  font-size: 20px;
}

.mobile-no {
  display: none;
}

/*footer*/
.section__footer {
  grid-area: footer;
}

/*VISTA TABLET*/
@media screen and (min-width: 768px) {
  #header__contenedor-completo {
    height: 400px;
  }
  #header__contenedor-completo .header__contenedor {
    height: 200px;
  }
  /*logo redes enlaces*/
  .header__logo {
    display: flex;
  }
  .header__logo .logo-a {
    height: 180px;
    padding: 30px;
  }
}
/*VISTA DESKTOP*/
@media screen and (min-width: 1024px) {
  /*HEADER*/
  .header__seccion-ed {
    height: 220px;
  }
  /*izquierda botones*/
  .division__grids-ed {
    display: grid;
    grid-template-areas: "botones texto";
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
  .division__grids-ed .seccion__botones-ed {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: botones;
    margin-top: 20px;
    grid-area: botones;
  }
  /*derecha titulo*/
  .titulo-redes-ed {
    grid-area: texto;
  }
  .titulo-redes-ed .section__p-ed {
    font-size: 23px;
    padding: 10px;
  }
  .linea {
    background-color: black;
    width: 100%;
    height: 1px;
    display: block;
  }
  /*textos*/
  .section__p-img {
    padding: 20px;
  }
  .section_h3-text {
    margin-top: 20px;
    text-align: center;
  }
  .p-text-ed {
    text-align: center;
    font-size: 25px;
  }
  .mobile-no {
    display: block;
  }
  /*imagenes*/
  .contenedor-imagenes {
    display: flex;
    justify-content: space-around;
  }
  .main__sec-img {
    display: flex;
    flex-direction: column;
  }
  .main__sec-img .main__sec-imgs {
    height: 280px;
    padding: 20px;
  }
  .main__sec-img .main__sec-imgs:hover {
    transform: scale(1.1);
  }
  .sec-img {
    display: flex;
    flex-direction: column;
  }
  .sec-img .sec-imgs {
    height: 280px;
    padding: 20px;
    transition: all 0.3s ease;
  }
  .sec-img .sec-imgs:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transform: scale(1.2);
  }
  .sec-img-derecha {
    display: flex;
    flex-direction: column;
  }
  .sec-img-derecha .sec-imgs-derecha {
    height: 280px;
    padding: 20px;
    transition: all 0.3s ease;
  }
  .sec-img-derecha .sec-imgs-derecha:hover {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transform: scale(1.1);
  }
}

/*# sourceMappingURL=estilos.css.map */
