

/*PAGINA 2*/
/*FOTOS PERSONALIZADAS------FP*/
/*VISTA MOBILE*/
#body__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}

#header__contenedor-completo-fp {
    background-image: url(../img/header2.png);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 20px;
.header__contenedor-fp {
    display: grid;
    grid-template-areas:
        "logo enlaces"
        "logo  redes";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    background-color: rgba(128, 128, 128, 0.363);
    height: 120px;
    width: 100%;
}
}

/*redes*/
.header__redes-fp {
    grid-area: redes;
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
    margin-bottom: 15px;
.header__redes-a-fp {
    grid-area: redes;
    display: flex;
    justify-content: flex-end;
    height: 40px;
    padding: 5px;
}
}
/*enlaces*/
#mobil-no-fp {
    display: none;
.nav-fp {
    grid-area: enlaces;
}
}
/*MAIN*/
/*iconos*/
.container__iconos-p {
    background-color: rgb(205, 158, 64);
    color: black;
    text-align: center;
    font-size: 25px;
}

.container__iconos-p:hover {
    background-color: orange;
    color: rgb(255, 255, 255);
}

.container__iconos-img {
    padding: 30px;
}

/*bandas*/
.container__bandas-p {
    background-color: rgb(205, 158, 64);
    color: black;
    text-align: center;
    font-size: 25px;
}

.container__bandas-p:hover {
    background-color: orange;
    color: rgb(255, 255, 255);
}

.container__bandas-img {
    padding: 50px;
}

/*infantiles*/
.container__infantiles-p {
    background-color: rgb(205, 158, 64);
    color: black;
    text-align: center;
    font-size: 25px;
}

.container__infantiles-p:hover {
    background-color: orange;
    color: rgb(255, 255, 255);
}

.container__infantiles-img {
    padding: 30px;
}


/*footer*/

.footer__nav-fp {
    height: 150px;
    background-color: rgb(234, 203, 91);
    display: flex;
    justify-content: center;
}
.footer_redes-a-fp{
    margin-top: 40px;
    margin-left: 30px;
}
.footer_redes-img-fp{
    height: 40px;
}


/*VISTA TABLET*/
@media screen and (min-width:768px) {
    #header__contenedor-completo-fp {
        background-image: url(../img/header2.png);
        height: 400px;
    .header__contenedor-fp {
        height: 200px;
    }
    }
    /*logo*/
    .header__logo-fp {
        height: 100px;
    }
    .header__redes-a-fp {
        height: 55px;
    }
}


/*VISTA DESKTOP*/
@media screen and (min-width:1024px){
    #header__contenedor-completo-fp{
            background-image: url(../img/header2.png);
            height: 500px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            margin-bottom: 50px;
        }
        /*enlaces*/
#desktop-no-fp {
    display: none;
}
#mobil-no-fp{
    display: block;
}
.header__contenedor-fp {
    height: 250px;

}

/*enlaces*/
.header__enlaces-fp {
    grid-area: enlaces;
    margin-top: 8px;
    margin-bottom: 8px;
    color: black;
    text-align: center;
    margin-right: 35px;
}

.header__enlaces-li-fp {
    display: flex;
    display: inline;
    list-style-type: none;
    justify-content: center;
}

.header__enlaces-a-fp {
    text-decoration: none;
    color: black;
    font-size: 32px;
    margin-left: 8px;
}

.header__enlaces-a-fp:hover {
    color: rgb(224, 154, 32);
}

/*footer*/

.footer__nav-fp {
    height: 250px;
}
.footer_redes-a-fp{
    margin-top: 60px;
    margin-left: 30px;
}
.footer_redes-img-fp{
    height: 70px;
}

}



