@use 'variables';

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}


/*VISTA MOBILE*/
#body__grid {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

/*HEADER*/
#header__contenedor-completo {
    grid-area: header;
    background-image: url(../img/header3.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;


    .header__contenedor {
        display: grid;
        grid-template-areas:
            "logo enlaces"
            "logo  redes";
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        background-color: rgba(128, 128, 128, 0.363);
        height: 120px;
        width: 100%;
    }
}

/*logo*/
.header__logo {
    grid-area: logo;
    display: flex;


    .logo-a {
        height: 100px;
        padding: 10px;
        border-radius: 50%;
    }
}

/*redes*/
.header__redes {
    grid-area: redes;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-bottom: 15px;
    margin-top: 10px;

    .redes-a {
        height: 40px;
        padding: 5px;
    }
}

/*enlaces*/
#mobil-no-index {
    display: none;
}

.navbar {
    grid-area: enlaces;
    margin-right: 15px;

    .navbar-toggler {
        color: rgba(255, 255, 255, 0.288);

        &:hover {
            color: rgba(0, 0, 0, 0.489);
        }
    }
}

/*MAIN*/
/*texto*/
main {
    width: 100%;
    grid-area: main;
}

.titulo-h1-p {
    text-align: center;

    .decoracion-principal {
        height: 200px;
    }
}

/*imagenes*/
.main__sec-img {
    display: flex;
    justify-content: center;
}

.main__sec-imgs {
    height: 250px;
    padding: 20px;
    transition: all 0.3s ease;

    &:hover {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

}

.mobile-no {
    display: none;
}

/*decoracion*/
.decoracion-cinta-img {
    width: 100%;
    height: 150px;
    margin: 20px 0px;
    opacity: 0.8;
}

/*nota*/
.main__sec-nota {
    width: 100%;
    background: rgb(220, 159, 91);
    background: linear-gradient(0deg, rgba(220, 159, 91, 1) 0%, rgba(241, 185, 138, 1) 26%, rgba(229, 188, 129, 1) 42%, rgba(255, 255, 255, 1) 100%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.main__sec-img-marcelo {
    display: flex;
    justify-content: center;

    .main__sec-img {
        height: 400px;
        margin-top: 5px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
}

.h3-text-nota {
    text-align: center;

    .h3-nota {
        font-size: 35px;
        margin-top: 5px;
    }
}

.main__sec-nota-p2 {
    text-align: center;
    font-size: 15px;
    margin: 0px 15px 3px 15px;
}

.main__sec-nota-a-edit {
    display: flex;
    justify-content: center;

    .uiverse {
        text-align: center;
        position: relative;
        background: #ffffff;
        color: #000;
        padding: 5px;
        margin: 10px;
        border-radius: 10px;
        width: 150px;
        height: 50px;
        font-size: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
}

.tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.uiverse:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

svg:hover span,
svg:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.uiverse:hover,
.uiverse:hover .tooltip,
.uiverse:hover .tooltip::before {
    background: linear-gradient(320deg, rgb(255, 198, 151), rgb(231, 175, 136));
    color: #ffffff;
}

.btn-masinformacion {
    text-decoration: none;
    color: #000;
}

/*botones*/
.container__sec-btn-img {
    display: flex;
    display: block;
    margin: 10px;
    padding: 10px;

    .container__div-img {
        display: flex;
        justify-content: center;
    }
}

.container-img {
    padding: 10px;
    height: 160px;
    transition: transform .2s;

    &:hover {
        transform: scale(1.2);
    }
}

.container__div-btn {
    display: flex;
    justify-content: center;
    margin: 5px;

    .container-btn {
        text-decoration: none;
        display: inline-block;
        padding: 12px 24px;
        border: 1px solid #4f4f4f;
        border-radius: 4px;
        transition: all 0.2s ease-in;
        position: relative;
        overflow: hidden;
        font-size: 19px;
        color: black;
        z-index: 1;
        font-size: 15px;
    }

    .container-btn:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scaleY(1) scaleX(1.25);
        top: 100%;
        width: 140%;
        height: 180%;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
    }

    .container-btn:after {
        content: "";
        position: absolute;
        left: 55%;
        transform: translateX(-50%) scaleY(1) scaleX(1.45);
        top: 180%;
        width: 160%;
        height: 190%;
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
    }

    .container-btn:hover {
        color: #ffffff;
    }

    .container-btn:hover:before {
        top: -35%;
        transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }

    .container-btn:hover:after {
        top: -45%;
        transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }

    .btn-a1:after {
        background-color: variables.$btn1;
    }

    .btn-a1:hover {
        border: 1px solid variables.$btn1;
    }

    .btn-a1:hover:before {
        background-color: variables.$btn1;
    }

    .btn-a1:hover:after {
        background-color: variables.$btn1;
    }

    .btn-a2:after {
        background-color: variables.$btn2;
    }

    .btn-a2:hover {
        border: 1px solid variables.$btn2;
    }

    .btn-a2:hover:before {
        background-color: variables.$btn2;
    }

    .btn-a2:hover:after {
        background-color: variables.$btn2;
    }

    .btn-a3:after {
        background-color: variables.$btn3;
    }

    .btn-a3:hover {
        border: 1px solid variables.$btn3;
    }

    .btn-a3:hover:before {
        background-color: variables.$btn3;
    }

    .btn-a3:hover:after {
        background-color: variables.$btn3;
    }
}

/*mapa calendario*/
.container__mapa-calendario {
    display: flex;
    flex-direction: column;
}

/*mapa*/
.container__location-btn {
    display: flex;
    justify-content: center;

    .location-btn {
        margin: 10px;
        height: 60px;
    }
}

.container__mapa-input {
    display: flex;
    justify-content: center;

    .mapa-input {
        text-align: center;
        width: 290px;
    }
}

.container__mapa-iframe {
    display: flex;
    justify-content: center;

    .mapa-iframe {
        height: 300px;
    }
}

.container__mapa-a {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .mapa-a {
        text-decoration: none;
        padding: 1.1em 2em;
        background: none;
        border: 2px solid #fff;
        font-size: 15px;
        color: #131313;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        transition: all 0.3s;
        border-radius: 12px;
        background-color: #eca548;
        font-weight: bolder;
        box-shadow: 0 2px 0 2px #000;

        &:before {
            content: "";
            position: absolute;
            width: 100px;
            height: 120%;
            background-color: #ff6700;
            top: 50%;
            transform: skewX(30deg) translate(-150%, -50%);
            transition: all 0.5s;
        }

        &:hover {
            background-color: #4cc9f0;
            color: #fff;
            box-shadow: 0 2px 0 2px #0d3b66;
        }
    }

    .mapa-a:hover::before {
        transform: skewX(30deg) translate(150%, -50%);
        transition-delay: 0.1s;
    }

    .mapa-a:active {
        transform: scale(0.9);
    }
}

/*calendario*/
.main__container-calendario {
    margin-top: 20px;

    .container__calendario-btn {
        display: block;
        display: flex;
        justify-content: center;

        .location-calendario-btn {
            height: 70px;
        }
    }
}

.container__calendario-li {
    text-decoration: none;
    display: flex;
    justify-content: center;

}

.container__calendario-h4,
.container__calendario-p {
    text-align: center;
}

/*FOOTER*/
.footer_index {
    grid-area: footer;
    background-color: #eca548;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .footer-index-img {
        margin: 20px;
        height: 40px;
    }
}



/*VISTA TABLET*/
@media screen and (min-width:768px) {
    #header__contenedor-completo {
        height: 400px;

        .header__contenedor {
            height: 200px;
        }
    }

    .header__logo {
        grid-area: logo;
        display: flex;

        .logo-a-nota {
            height: 200px;
            padding: 20px;
        }
    }

    .header__redes {
        margin-right: 40px;
        margin-bottom: 15px;

        .redes-a {
            height: 60px;
        }
    }

    .enlaces-a {
        font-size: 27px;
    }
}

/*VISTA DESKTOP*/
@media screen and (min-width:1024px) {

    /*HEADER*/
    #header__contenedor-completo {
        height: 500px;
        background-attachment: fixed;
        width: 100%;
        margin-bottom: 50px;
    }
    /*logo*/
    .header__logo {
        grid-area: logo;

        .logo-a{
            padding: 20px;
            height: 180px;
        }
    }
    /*enlaces*/
    #desktop-no-index {
        display: none;
    }

    #mobil-no-index {
        display: block;
    }

    .container-fluid {
        margin: 10px;
    }

    #navbarNav {
        display: flex;
        justify-content: flex-end;
    }

    .nav-index {
        margin-right: 12px;
    }

    .navbar-index .nav-item-index .nav-index {
        color: #eca548;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.849);
        font-size: 23px;
        transition: all 0.3s ease;

        &:hover {
            color: #000000;
            text-shadow: 1px 1px 2px #eca54852;
            transform: scale(1.1);
        }
    }

    .navbar-index .nav-item-index .nav-index:after,
    .navbar-index .nav-item-index .nav-index:before {
        content: "";
        position: absolute;
        width: 0%;
        display: block;
        height: 1px;
        transition: all 0.4s ease;
        margin-top: 2px;
        transition: all 300ms ease-in;
    }

    .navbar-index .nav-item-index .nav-index:after {
        bottom: 15%;
        left: 0;
    }

    .navbar-index .nav-item-index .nav-index:before {
        top: 15%;
        right: 0;
    }

    .navbar-index .nav-item-index .nav-index:hover::after {
        width: 100%;
        height: 1px;
        bottom: 15%;
        background-color: #eca548;
    }

    .navbar-index .nav-item-index .nav-index:hover::before {
        width: 100%;
        height: 1px;
        top: 15%;
        background-color: #eca548;
    }

    /*imagenes*/
    .mobile-no {
        display: block;
    }

    .contenedor-imagenes {
        display: flex;
        justify-content: space-around;
    }

    .main__sec-img {
        display: flex;
        flex-direction: column;

        .main__sec-imgs {
            height: 300px;
            padding: 25px;

            &:hover {
                transform: scale(1.1);
            }

        }
    }

    .sec-img {
        display: flex;
        flex-direction: column;

        .sec-imgs {
            height: 300px;
            padding: 25px;
            transition: all 0.3s ease;

            &:hover {
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                transform: scale(1.2);
            }
        }
    }

    .sec-img-derecha {
        display: flex;
        flex-direction: column;

        .sec-imgs-derecha {
            height: 300px;
            padding: 25px;
            transition: all 0.3s ease;

            &:hover {
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                transform: scale(1.1);
            }
        }
    }

    /*btn*/
    .main__container-img-btn {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 20px;
    }

    /*decoracion*/
    .decoracion-cinta-img {
        height: 180px;
        margin: 30px 0px;
    }

    /*nota*/
    .main__sec-nota-parr {
        font-size: 25px;
    }

    .main__sec-nota-p2 {
        font-size: 25px;
        padding: 30px;
    }

    /*btn*/
    .container-img {
        padding: 20px;
        height: 200px;
    }

    .container-btn {
        font-size: 20px;
    }

    /*mapa calendario*/
    .container__mapa-calendario {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 30px;
    }

    .container__calendario-btn {
        margin-top: 30px;
    }
/*mapa*/ 
.mapa-input{
    width: 350px;
}
.mapa-a{
    width: 180px;
}
    /*calendario*/
    .container__calendario-h4,
    .container__calendario-p,
    .container__calendario-li {
        font-size: 20px;
    }
}