@use 'variables';

body {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*VISTA MOBILE*/
#body__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}

.header__contenedor-completo-nota {
    width: 100%;
    display: grid;
    grid-template-areas:
        "logo enlaces"
        "logo  redes";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    height: 120px;
    background: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(213, 173, 172, 1) 33%, rgba(187, 122, 121, 1) 59%, rgba(161, 73, 71, 1) 100%);

    .header__logo {
        grid-area: logo;

        .header__redes {
            grid-area: redes;

            .navbar {
                grid-area: enlaces;
            }
        }
    }
}
.li-nota:hover {
    transform: scale(1.1);
    text-shadow: none;
}

/*imagen*/
.nota-imagen {
    display: flex;
    justify-content: center;

    .nota-img {
        padding: 10px;
        height: 250px;
    }
}

/*texto*/
.nota-h1-p {
    padding: 40px;
    text-align: center;
    .nota-h {
        margin: 30px 10px 0px 10px;
        font-size: 40px;
        color: #a14947;

        .nota-p {
            margin-top: 10px;
            font-size: 40px;
            .nota-h1{
                margin-top: 10px;
            }
        }
    }

}

.footer__notas {
    height: 120px;
    display: flex;
    justify-content: center;
    background: rgb(244, 103, 74);
    background: rgb(161, 73, 71);
    background: linear-gradient(0deg, rgba(161, 73, 71, 1) 0%, rgba(187, 122, 121, 1) 33%, rgba(213, 173, 172, 1) 59%, rgba(255, 255, 255, 1) 100%);

    .footer__notas-img {
        margin: 20px;
        height: 40px;
    }
}

/*VISTA TABLET*/
@media screen and (min-width:768px) {
    .header__contenedor-completo-nota {
        height: 200px;
        width: 100%;
    }

    .nota-imagen {
        display: flex;
        justify-content: center;

        .nota-img {
            margin-top: 10px;
            padding: 10px;
            height: 400px;
        }
    }
}

/*VISTA DESKTOP*/
@media screen and (min-width:1024px) {
    .nota-imagen {
        display: flex;
        justify-content: center;

        .nota-img {
            padding: 10px;
            height: 500px;
        }
    }

    /*texto*/
    .nota-h1-p {
        padding: 50px;
        text-align: center;

        .nota-h {
            margin: 40px 20px 0px 20px;
            font-size: 60px;
            color: #a14947;

            .nota-p {
                font-size: 60px;
            }
        }
    }

    .footer__notas-img {
        height: 60px;
    }
}